.contact-musician-textarea-container {
  display: flex;
  margin: 1rem 0;
}
#form {
  display: none;
}

.contact-musician-textarea {
  width: 80%;
  /* margin-left: 23px; */
  margin: 0 auto;
  background-color: rgb(238, 236, 236);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-size: 13px;
}

.contact-musician-buttons-container {
  display: flex;
  /* margin: 2rem 0; */
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.contact-musician-buttons-container button {
  padding: 0.3rem 0.3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  background-color: rgb(191, 27, 40);
}

#contact-musician-buttons-container-grey button {
  padding: 0.3rem 0.3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(206, 195, 196) !important;
  background-color: rgb(206, 195, 196) !important;
}

.contact-musician-button {
  position: absolute;
  top: 350px;
  right: 155px;
  padding: 0.3rem 0.3rem;
  margin-bottom: 1rem;
  border: rgb(184, 179, 179) solid 1px;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 236, 236);
}
