.create-band-wrapper {
  background-color: rgb(238, 236, 236);
  padding-bottom: 2rem;
  margin-top: 60px;
}

.create-band-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}

.create-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 2rem;
  height: 85vh;
  border-radius: 10px;
}

.create-band-form-input {
  width: 80%;
  margin-left: 32px;
  background-color: rgb(238, 236, 236);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}

.margin-input {
  margin-top: 2rem;
}

.create-band-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.create-band-button button {
  width: 80%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(191, 27, 40);
}

.create-band p {
  margin-left: 47px;
}

.create-band p {
  padding-top: 20px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.create-bandi-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}
