.login-wrapper {
  height: 100vh;
  background-color: rgb(238, 236, 236);
  padding-top: 4rem;
}
.login img {
  width: 120px;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 2rem;
  height: 70vh;
  border-radius: 10px;
}

.form-input {
  width: 80%;
  margin-left: 30px;
  margin-top: 2rem;
  background-color: rgb(238, 236, 236);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}

.not-registered p {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-button button {
  width: 80%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(191, 27, 40);
}
