.all-messages-container {
  margin-top: 70px;
  background-color: rgb(238, 236, 236);
  height: 100%;
  /* position:fixed */
}

.all-messages-wrapper {
  display: flex;
  flex-direction: column;
  height: 79.5vh;
}

.all-messages-wrapper > div {
  margin: 1rem 0;
  width: auto;
  margin: 1rem 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}

.all-messages-wrapper ul {
  list-style: none;
}
