.update-musician-wrapper {
  background-color: rgb(238, 236, 236);
  padding-bottom: 2rem;
  margin-top: 60px;
}

.update-musician-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}

.update-musician {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 2rem;
  height: 104vh;
  border-radius: 10px;
}

.update-musician-form-input {
  width: 216px;
  /* margin-left: 23px; */
  background-color: rgb(238, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}

.margin-input {
  margin-top: 2rem;
}

.update-musician-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.update-musician-button button {
  width: 216px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(191, 27, 40);
}

.update-musician p {
  margin-left: 16px;
}

.update-musician p {
  padding-top: 20px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.update-musician-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}

.delete-musician {
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#root
  > div
  > div
  > div
  > div.update-musician-wrapper
  > div.delete-musician
  > div
  > button {
  color: black;
  border: solid black;
}
