.update-band-wrapper {
  background-color: rgb(238, 236, 236);
  padding-bottom: 2rem;
  margin-top: 60px;
}

.update-band-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}

.update-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 2rem;
  height: 92vh;
  border-radius: 10px;
}

.update-band-form-input {
  width: 216px;
  /* margin-left: 23px; */
  background-color: rgb(238, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 15px;
}

.margin-input {
  margin-top: 2rem;
}

.update-band-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.update-band-button button {
  width: 232px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(191, 27, 40);
}

.update-band p {
  margin-left: 16px;
}

.update-band p {
  padding-top: 20px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.update-band-wrapper-p {
  text-align: center !important;
  padding: 25px;
  font-size: 20px;
}

.delete-band {
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#root
  > div
  > div
  > div
  > div.update-band-wrapper
  > div.delete-band
  > div
  > button {
  color: black;
  border: solid black;
}
